:root{
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app{
  height: 100vh;
  background: #262A41;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.25em 0 0.8125em 0;
}