.user-item{
  background: #FCFCFF;
  color: #262A41;
  border-radius: 1.125rem;
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.05);
  // width: 50rem;
  width: 100%;
  height: 12.3125rem;
  margin-bottom: 1.68em;
  display: flex;
  align-items: center;
  padding-left: 2.25em;

  &__image-container{
    display: block;
    border: 8px solid #75D6D1;
    width: 7.0625rem;
    height: 7.0625rem;
    border-radius: 50%;
    margin-right: 2em;
  }

  &__image{
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: inherit;
  }

  &__info{
    // border: 1px solid green;
    width: 78%;
    padding-bottom: 0.2em;
  }

  &__name{
    font-size: 1.375rem;
    letter-spacing: -0.02px;
    margin-bottom: 0.4em;
  }

  &__address{
    font-weight: 500;
    font-style: italic;
    font-size: 1.125rem;
    margin-bottom: 0.75em;
    opacity: 0.72;
  }

  &__contact{
    // border: 1px solid red;
    position: relative;
    display: flex;
    align-items: center;

    p{
      opacity: 0.52;
      margin-left: 0.4em;
      margin-right: 1em;
    }
  }

  &__email{
    display: flex;
    align-items: center;

    p{
      font-weight: 300;
      font-size: 1.125rem;
      padding-bottom: 0.1em;
    }

    i{
      color: #BABDD1;
      font-size: 135%;
    }
  }

  &__phone{
    display: flex;
    align-items: center;

    svg{
      fill: #BABDD1;
    }

    p{
      font-weight: 500;
      font-size: 1.06rem;
    }
  }

  &__btn{
    position: absolute;
    right: 0;
    // bottom: 0%;
    height: 3.3rem;
    width: 3.7rem;
    background: #30BBB5;
    border: none;
    border-radius: 0.8rem;
    box-shadow: 2px 15px 30px rgba(48, 187, 181, 0.46);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    i{
      font-size: 150%;
      color: $pry-clr;
    }
  }
}

.country{
  font-weight: 600;
  font-size: 103%;

  &::before{
    content: ", ";
    font-weight: initial;
  }
}

@media only screen and (max-width: 1919px){
  .user-item{
    height: 11rem;
    max-height: 19vh;
    // margin-bottom: 1.5em;
    padding-left: 3.75%;

    &__image-container{
      margin-right: 1.375em;
    }

    &__name{
      font-size: 1.125rem;
    }

    &__address{
      font-size: 0.975rem;
      margin-bottom: 0.6em;
    }

    &__email{
      p{
        font-size: 0.95rem;
      }

      i{
        font-size: 102.5%;
      }
    }

    &__phone{

      svg{
        width: 18px;
        height: 18px;
      }

      p{
        font-size: 0.9rem;
      }
    }

    &__btn{
      // height: 3.3rem;
      height: 2.475rem;
      // width: 3.7rem;
      width: 2.85rem;
      border-radius: 0.6rem;

      i{
        font-size: 120%;
      }
    }
  }
  
  .country{
    font-size: 100%;
  }
}

@media only screen and (max-width: 1440px){
  .user-item{
    padding-left: 2.5%;
    padding-right: 0.45%;

    &__image-container{
      border-width: 7px;
      width: 6.875rem;
      height: 6.875rem;
    }
  }
}

@media only screen and (max-width: 1366px){
  .user-item{
    padding-right: 1.5%;
    margin-bottom: 1.4em;
  }
}

@media only screen and (max-width: 600px){
  .user-item{
    height: initial;
    max-height: initial;
    padding-top: 1.25em;
    padding-bottom: 0.75em;
    // flex-direction: column;
    // align-items: flex-start;

    &__image-container{
      border-width: 6px;
      width: 5.25rem;
      height: 5.25rem;
      margin-right: 1em;
    }

    &__info{
      // border: 1px solid blue;
      // width: 19rem;
      max-width: 68%;    
    }

    &__name{
      font-size: 0.975rem;
      margin-bottom: 0.2em;
    }

    &__address{
      font-size: 0.85rem;
      margin-bottom: 0.2em;
    }

    &__contact{
      flex-direction: column;
      align-items: flex-start;
      padding-bottom: 0.85em;
      word-break: break-all;

      p{
        margin-right: 0;
      }
    }

    &__email{
      margin-bottom: 0.1em;
      align-items: baseline;

      p{
        font-size: 0.825rem;
      }

      i{
        font-size: 95%;
      }
    }

    &__phone{

      p{
        font-size: 0.785rem;
      }
    }

    &__btn{
      height: 2rem;
      width: 2.25rem;
      bottom: 0;
      right: 2%;

      i{
        font-size: 100%;
      }
    }
  }
}