.main{
  // background: #F7F7FF 0% 0% no-repeat padding-box;
  background: #F7F7FF;
  border-radius: 1.75rem;
  border: 1px solid #707070;
  display: flex;
  width: 50%;
  height: 95vh;
  padding: 4em 5em;
}
